%h1= "\"#{@project.name}\" Results"

.project-results
  .result-methods
    - @ms.each do |ms|
      = link_to result_project_path(@project.id, methodology_score_id: ms.id), class: ms.id == @current_ms.id ? 'method-item active' : 'method-item' do
        = ms.methodology.name
        = "(#{ms.score.round(2)})"

  .result-detailed
    .method-title
      %h2= @current_ms.methodology.name
      .scores
        %div
          Weighted Sum
          = @current_ms.weighted_sum_score.round(2)
        %div
          TOPSIS
          = @current_ms.topsis_score.round(2)

    .result-parameters
      %table.projects-list
        %thead
          %tr
            %th
              Parameter
            %th
              Value
            %th
              Score
        %tbody
          - @project.confirmed_parameter_values.ordered.each do |pv|
            = render 'projects/result_tr', methodology: @current_ms.methodology, pv: pv

    - if (description = @current_ms.methodology.description)
      .result-description
        %h2 Methodology details
        = description.html_safe