%h1= "\"#{@project.name}\" Results"

.project-results
  .result-methods
    - @ms.each_with_index do |ms, i|
      = link_to '', class: i == 3 ? 'method-item active' : 'method-item' do
        = "#{i + 1}. "
        = ms.methodology.name

  .result-detailed
    .method-title
      %h2= @best_ms.methodology.name
      %h2= @best_ms.score.round(2)

    %table.projects-list
      %thead
        %tr
          %th
            Parameter
          %th
            Value
          %th
            Score
      %tbody
        - Parameter.order("RANDOM()").all.each do |parameter|
          - s = parameter.default_weight / 10.0
          %tr{class: s > 8 ? 'green' : (s > 4 ? 'yellow' : (s > 1.5 ? 'red' : 'super-red'))}
            %td
              = parameter.name
            %td
              = parameter.possible_values.sample.value
            %td
              = s
