.header
  .header-container
    = link_to root_path, class: 'logo' do
      = image_tag 'logo.png'
    .menu
      - if current_user
        = link_to 'Log out', logout_users_path
      - else
        = link_to 'Sign in', login_users_path
        = link_to 'Sign up', new_user_path