<!DOCTYPE html>
<html>
  <head>
    <title>Diploma</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="content">
      <div class="content-container <%= controller_name %>_controller <%= action_name %>_action">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
